<h1><%= @post.title%></h1>
<p><%= @post.synopsis%></p>

<%-# loops through posts and displays each one with a button to edit and delete -%>

<% if can? :update, @post %>
  <td><%= button_to "Edit Post", edit_city_post_path(@city.id, @post.id), method: :get, class: "button"%></td>
<% end %>

<% if can? :destroy, @post %>
  <td><%= button_to "Delete Post", city_post_path(@city.id, @post.id), method: :delete, class: "delete", data: {confirm: "Are you sure?"}%></td>
<% end %>
