/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-color {
    background-color: #181887;
    /* #86B8B1,#C8BA9D,#F0D8A8,#78483E,#FA2A00,#86B8B1,#C8BA9D,#F0D8A8 */
}
.navbar-logo {
    height: 50px;
    margin-top: -15px;
}

.carousel, .carousel img{
    width: 75%; 
    margin: 0 auto;
}
.carousel img {
    height: 400px;
} 

